{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier-vue/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",

    "no-console": "off",
    "space-before-function-paren": "off",

    "vue/attributes-order": ["error", {
      "alphabetical": true
    }],

    "vue/max-attributes-per-line": ["error", {
      "singleline": 3
    }],

    "vue/multi-word-component-names": "off",
    "vue/no-reserved-keys": "off"
  }
}
